@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Gloria+Hallelujah&family=Kalam&family=Londrina+Shadow&family=Megrim&family=Poppins:wght@200&family=Vast+Shadow&display=swap');

* {
    /* border: 2px solid red; */
    /* background-color: #155263; */
    /* background-color: #30475E; */
    background-color: #2D4059;
    color: whitesmoke;
    /* color: #d4af37; */
}

body    {
    overflow-x: hidden;
}

/* section {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
} */

a   {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f8acc2 !important;
    /* color: #EA5455 !important; */
}

.brand-img  {
    width: 100%;
    height: 50px;
}

.nav-link  {
    color: whitesmoke;
    font-family: 'Megrim', cursive;
    font-size: 20px;
}

.nav-link:visited   {
    color: whitesmoke;
}

.dropdown-menu  {
    background-color: #2D4059;
}

.dropdown-item  {
    color: whitesmoke;
    padding-left: 0px;
}

.dropdown-item:hover    {
    background-color: #2D4059;
    color: #f8acc2;
}

.heroMain {
    z-index: -1;
    /* ^^ Takes something and sends to front or to back, etc... */
    width: 100%;
    position: fixed;
    /* ^^ Keeps image in place */
    /* margin-top: -70px; */
    /* ^^ Moved background image up */
}

.hero {
    width: 100%;
    height: 300px;
    /* opacity: 80%; */
    position: sticky;
}

/* .background {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/lantern-bg.jpg');
    width: 100%;
    height: 800px;
    background-size: cover;
    padding-top: 100px;
} */

h1.home  {
    font-family: 'Londrina Shadow', cursive;
    /* color: #d4af37; */
    color: #2D4059;
    text-align: center;
    padding-top: 10%;
    font-size: 55px;
    font-weight: 900;
}

h1.about    {
    font-family: 'Londrina Shadow', cursive;
    color: #d4af37;
    /* color: #f8acc2; */
    text-align: center;
    padding-top: 5%;
    font-size: 55px;
    font-weight: 900;
}

h1.other    {
    font-family: 'Londrina Shadow', cursive;
    color: #2D4059;
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    padding-top: 10%;
}

h2  {
    color: #d4af37;
    font-family: 'Londrina Shadow', cursive;
    font-weight: 900;
}

h3  {
    color: whitesmoke;
}

.sec1, .sec3   {
    color: #d4af37;
    font-family: 'Gloria Hallelujah', cursive;
    justify-content: center;
    align-items: center;
}

.sec2   {
    background-color: #f8acc2;
    color: #2D4059;
    font-family: 'Gloria Hallelujah', cursive;
    justify-content: center;
    align-items: center;
}

#sec1-img, #sec2-img, #sec3-img   {
    max-width: 100%;
    height: fit-content;
}

.about {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.aboutImg   {
    width: 100%;
}

.aboutP {
    color: #f8acc2;
    font-family: 'Gloria Hallelujah', cursive;
}

.aboutP2 {
    color: #d4af37;
    font-family: 'Gloria Hallelujah', cursive;
}

.form   {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    font-size: 10px;
    color: darkgrey;
} 


@media (min-width: 300px)   {
    .heroMain {
        height: 100%;
    }

    .aboutImg   {
        height: auto;
        max-width: 100%;
    }
}

@media (min-width: 700px) {
    ul.dropdown-menu    {
        width: 50%;
        text-align: center;
    }

    .heroMain   {
        height: 100%;
    }

    .aboutImg {
        height: 600px;
        width: 800px;
    }

    h2  {
        font-size: 30px;
    }
}

@media (min-width: 1600px) {  
    .heroMain   {
        height: 100%;
    }

    h2  {
        font-size: 40px;
    }
}